/* FANHYPE style.scss */
/* reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.content, article {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'open sans', sans-serif; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

/* variables */
/* styles */
nav {
  width: 100%;
  padding: 0 5%;
  height: 60px;
  background: #fff; }
  nav h1#mark {
    display: inline-block;
    padding: 18px;
    font-size: 18px;
    font-family: 'Droid Serif', sans-serif;
    font-style: italic;
    font-weight: 700; }
    nav h1#mark a {
      color: black; }
      nav h1#mark a:hover {
        color: red; }
  nav ul {
    float: right;
    padding-top: 22px; }
    nav ul li {
      float: left; }
      nav ul li a {
        padding: 22px;
        font-size: 11px;
        letter-spacing: 1px;
        color: black; }
        nav ul li a:hover {
          color: red; }

hr {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background: #000;
  border: 0; }

article {
  display: block;
  position: relative;
  width: 810px;
  height: 180px;
  margin: 30px auto 0;
  text-align: center;
  background: #fff;
  border: 1px solid #000; }
  article:hover, article:hover div.game_info h1 {
    color: red;
    background: #fff; }
  article div.game_info {
    color: #000; }
    article div.game_info h1 {
      padding: 27px 0 12px;
      font-size: 36px;
      font-family: 'Droid Serif', sans-serif;
      font-style: italic;
      font-weight: 700;
      color: black; }
    article div.game_info p {
      font-size: 14px;
      font-weight: 300; }
    article div.game_info a {
      color: #000; }
    article div.game_info img.logo, article div.game_info img.left_logo, article div.game_info img.right_logo {
      position: absolute;
      width: 180px;
      height: 180px;
      top: 0; }
    article div.game_info img.left_logo {
      left: 0;
      border-right: 1px solid #000; }
    article div.game_info img.right_logo {
      right: 0;
      border-left: 1px solid #000; }
  article div.bar {
    display: block;
    position: absolute;
    bottom: 21px;
    left: 195px;
    width: 420px;
    height: 21px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 300;
    color: #fff; }
    article div.bar .partial_bar, article div.bar div.right, article div.bar div.left {
      position: absolute;
      top: 0;
      padding: 2px 6px;
      height: 21px;
      background: #8c1515; }
    article div.bar div.right {
      right: 0;
      width: 420px;
      text-align: right;
      background: #8c1515; }
    article div.bar div.left {
      left: 0;
      width: 210px;
      text-align: left;
      background: #004f27;
      /* 			&:after {
      				position: absolute;
      			    top: 50%;
      			    right: -4px;
      			    margin-top: -4px;
      			    content: '';
      				border-radius: 50%;
      				width: 8px;
      				height: 8px; 
      				background: #fff;
      				border: 1px solid #000;
      			} */ }
      article div.bar div.left:after {
        position: absolute;
        top: 0;
        right: -4px;
        content: '';
        width: 8px;
        height: 21px;
        background: #fff;
        border: 1px solid #000; }

div#debug {
  display: block;
  width: 400px;
  margin: 90px auto;
  text-align: center; }
